@if(game){
<div class="d-flex score-container justify-content-evenly p-3">
    <div class="d-flex flex-column justify-content-center align-items-center cursor-pointer w-25" [routerLink]="['/club', game.homeClubId]">
        <img width="72" height="72"
            [src]="'https://tmssl.akamaized.net/images/wappen/normquad/'+game.homeClubId+'.png'" alt="">
        <span class="text-center">{{ game.homeClubName }}</span>
    </div>
    <div class="d-flex flex-column justify-content-center">
        <span class="score-label">{{game.homeClubScore}} - {{game.awayClubScore}}</span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center cursor-pointer w-25" [routerLink]="['/club', game.awayClubId]">
        <img width="72" height="72"
            [src]="'https://tmssl.akamaized.net/images/wappen/normquad/'+game.awayClubId+'.png'" alt="">
        <span class="text-center">{{ game.awayClubName }}</span>
    </div>
</div>

<app-game-lineup></app-game-lineup>

<app-game-event></app-game-event>
}