@if(club){
<div class="d-flex club-container p-3 gap-3">
    <img width="72" height="72" [src]="'https://tmssl.akamaized.net/images/wappen/normquad/'+club.clubId+'.png'"
        alt="">
    <div class="d-flex flex-column justify-content-center gap-1">
        <span>{{club.clubName ?? this.languageService.selectedLanguage['club_unknown']}}</span>
        <div class="d-flex gap-2">
            <img width="24" height="24" [src]="'assets/icons/flags/'+club.countryId+'.webp'"
                [alt]="'Flag ' + club.countryId">
            <span>{{ languageService.selectedLanguage['country_name_'+club.countryId] }}</span>
        </div>
    </div>
    <img class="ms-auto mt-auto cursor-pointer" width="48" height="48" src="assets/icons/chat_white.svg" alt="" [routerLink]="['/chat', ChatRoomType.Club, club.clubId]">
</div>

<div class="d-flex w-100" (scrollBottom)="onScrollBottom()">
    <div class="d-flex flex-column players-container p-3 me-3 w-25">
        <app-club-players></app-club-players>
    </div>
    <div class="games-container p-3 w-75">
        <app-club-games></app-club-games>
    </div>
</div>

}