.club-container {
    border-radius: 8px;
    background-color: var(--white);
}

.players-container,
.games-container,
.statistics-container {
    height: fit-content;
    background-color: var(--white);
    border-radius: 8px;
}

:host ::ng-deep .chat-icon {
    width: 48px;
    height: 48px;
}

:host ::ng-deep .chat-icon>path {
    stroke: var(--text-primary);
}