:host ::ng-deep .search-icon > path {
    fill: var(--text-primary);
}

.search-container {
    position: relative;
}

.search-container>button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.search-container>input {
    padding-left: 48px;
    background-color: var(--white-shade);
    color: var(--text-primary);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-secondary);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder, /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-secondary);
}

.player-container {
    border-radius: 8px;
}

.player-container:hover{
    background-color: var(--white-shade);
}

.player-image{
    border-radius: 50%;
}

.player-position-label {
    color: var(--text-secondary);
    font-size: smaller;
}