.search-container {
    position: relative;
}

.search-container>button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.search-container>input {
    padding-left: 48px;
    background-color: var(--white-shade);
}

.player-image{
    border-radius: 50%;
}

.player-position-label {
    color: var(--text-secondary);
    font-size: smaller;
}