<span>{{ languageService.selectedLanguage['club_players'] }}</span>

<div class="d-flex search-container my-2">
    <input class="form-control" type="search"
        [placeholder]="languageService.selectedLanguage['homepage_leagues_search_placeholder']"
        aria-label="Search leagues" [(ngModel)]="filter" (ngModelChange)="onFilterPlayers()">
    <button class="d-flex btn">
        <div class="d-flex search-icon" svg="search"></div>
    </button>
</div>

<div class="d-flex flex-column mt-3 gap-3">
    @for (player of players; track player.id){
    <div class="d-flex player-container cursor-pointer gap-2 p-1" [routerLink]="['/player', player.id]">
        <img class="player-image" width="48" height="48" [src]="player.imageUrl" alt="">
        <div class="d-flex flex-column justify-content-center">
            <span class="player-name-label">{{player.fullName}}</span>
            <span class="player-position-label">
                {{ languageService.selectedLanguage['club_players_position_'+player.position]}}
                @if(player.subPosition && player.position != player.subPosition){
                / {{ languageService.selectedLanguage['club_players_sub_position_'+player.subPosition] }}
                }
            </span>
        </div>
    </div>
    }
</div>