.search-container {
    position: relative;
}

.search-container>button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.search-container>input {
    padding-left: 48px;
    background-color: var(--white-shade);
    color: var(--text-primary);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-secondary);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder, /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-secondary);
}

:host ::ng-deep .search-icon>path,
:host ::ng-deep .expand-icon>path {
    fill: var(--text-primary);
}

.country-league-container {
    cursor: pointer;
    border-radius: 8px;
}

.country-league-container:hover {
    background-color: var(--white-shade);
}

.expand-container {
    overflow: hidden;
    max-height: 0;
}

.expand-open {
    max-height: fit-content;
}

.link-competition:hover {
    background-color: var(--white-shade);
}

.link-competition {
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-primary);
}