<span>{{languageService.selectedLanguage['homepage_all_leagues']}}</span>
<div class="d-flex search-container my-2">
    <input class="form-control" type="search"
        [placeholder]="languageService.selectedLanguage['homepage_leagues_search_placeholder']" aria-label="Search leagues" [(ngModel)]="filter" (ngModelChange)="onFilterLeagues()">
    <button class="d-flex btn">
        <div class="d-flex search-icon" svg="search"></div>
    </button>
</div>
@for (competitionCountry of competitionsByCountry; track competitionCountry) {
    <div class="d-flex country-league-container py-1" (click)="onExpand(leagueExpand)">
        <img class="mx-2" width="24" height="24" [src]="'assets/icons/flags/'+competitionCountry[0].countryId+'.webp'" [alt]="'Flag ' + competitionCountry[0].countryName">
        <span>{{ languageService.selectedLanguage['country_name_'+competitionCountry[0].countryId] }}</span>
        @if (leagueExpand.classList.contains('expand-open')){
            <div class="d-flex ms-auto expand-icon" svg="expand_less"></div>
        }
        @else {
            <div class="d-flex ms-auto expand-icon" svg="expand_more"></div>
        }
    </div>
    <div #leagueExpand class="d-flex flex-column expand-container ps-3">
        @for (competition of competitionCountry; track competition) {
            <a class="link-competition px-2" [routerLink]="['competition', competition.competitionId]">
                <img width="24" height="24" [src]="'https://tmssl.akamaized.net/images/logo/header/'+competition.competitionId.toLowerCase()+'.png'" alt="">
                {{ competition.name }}
            </a>
        }
    </div>
}