.messaging-container,
.competition-container {
    border-radius: 8px;
    background-color: var(--white);
}

.player-container,
.score-container,
.club-container {
    border-radius: 8px;
    background-color: var(--white);
    color: var(--text-primary);
}

.player-container>img {
    border-radius: 50%;
}

.player-container>span {
    font-size: x-large;
}

.score-label{
    font-size: xx-large;
}