.game-event-container {
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px 5px var(--shadow);
}

.card-icon {
    border-radius: 2px;
    width: 18px;
    height: 24px;
    background-color: yellow;
}

.red {
    background-color: red;
}

:host ::ng-deep .event-icon {
    width: 24px;
    height: 24px;
}

:host ::ng-deep .event-icon>path {
    fill: var(--text-primary);
}

:host ::ng-deep .event-icon>polyline {
    stroke: var(--text-primary) !important;
}