@if(game){
<div class="d-flex flex-column game-event-container gap-2 p-3">
    @for (event of game.events; track event.game_event_id;){
    <div class="d-flex gap-3" [class.flex-row-reverse]="event.club_id == game.awayClubId">
        @if(event.type == GameEventType.Cards){
        <div class="card-icon" [class.red]="event.description.toLowerCase().includes('red')"></div>
        }
        @else{
        <img width="24" height="24" [src]="'assets/icons/'+event.type.toLowerCase()+'.svg'" alt="">
        }
        <span>{{event.type}}</span>
        <span>{{event.minute}}</span>
        <span class="cursor-pointer" [routerLink]="['/player', event.player_id]">{{event.player_id}}</span>
        <span>{{event.description}}</span>
    </div>
    }
</div>
}