@if(game){
<div class="d-flex flex-column game-event-container gap-2 p-3">
    @for (event of game.events; track event.game_event_id;){
    <div class="d-flex gap-3" [class.flex-row-reverse]="event.club_id == game.awayClubId">
        @if(event.type == GameEventType.Cards){
        <div class="card-icon" [class.red]="event.description.toLowerCase().includes('red')"></div>
        }
        @else{
        <div class="d-flex event-icon" [svg]="event.type.toLowerCase()"></div>
        }
        <span>{{event.type}}</span>
        <span>{{event.minute}}°</span>
        <div>
            <span class="cursor-pointer"
                [routerLink]="['/player', event.player_id]">{{ playerLineups[event.player_id].player_name }}</span>
            @if(event.player_in_id){
            <span class="cursor-pointer" [routerLink]="['/player', event.player_in_id]"> ->
                {{ playerLineups[event.player_in_id].player_name }}</span>
            }
        </div>
        <!-- <span>{{event.description}}</span> -->
    </div>
    }
</div>
}