.leagues-container,
.matches-container {
    height: fit-content;
    min-height: 100%;
    background-color: var(--white);
    border-radius: 8px;
}

.search-container {
    position: relative;
}

.search-container>button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.search-container>input {
    padding-left: 48px;
    background-color: var(--white-shade);
}

.country-league-container {
    cursor: pointer;
}
.country-league-container:hover {
    background-color: var(--white-shade);
}

.expand-container {
    overflow: hidden;
    max-height: 0;
}

.expand-close {
    max-height: fit-content;
}