<div class="d-flex flex-column leagues-container p-3 me-3 w-25">
    <span>{{languageService.selectedLanguage['homepage_all_leagues']}}</span>
    <div class="d-flex search-container my-2">
        <input class="form-control" type="search"
            [placeholder]="languageService.selectedLanguage['homepage_leagues_search_placeholder']" aria-label="Search leagues">
        <button class="d-flex btn">
            <img src="assets/icons/search.svg" alt="Search button">
        </button>
    </div>
</div>

<div class="matches-container p-3 w-75">

</div>