/* You can add global styles to this file, and also import other style files */
:root {
    --background: #ebebeb;
    --primary: #682d63;
    --secondary: #616a93;
    --white: #ffffff;
    --white-shade: #f5f6fa;
    --text-primary: #000000;
    --text-secondary: #b9b9b9;
    --win: green;
    --draw: lightgrey;
    --lose: red;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background);
}

img {
    object-fit: contain;
}

.cursor-pointer{
    cursor: pointer;
}