@if(player){
<div class="d-flex player-container align-items-center p-3 gap-3">
    <img width="72" height="72" [src]="player.imageUrl" alt="">
    <span>{{player.fullName}}</span>
    <img class="ms-auto mt-auto cursor-pointer" width="48" height="48" src="assets/icons/chat_white.svg" [routerLink]="['/chat', ChatRoomType.Player, player.id]">
</div>

<div class="d-flex flex-column player-detail-container p-3">
    <div class="d-flex gap-3">
        <img class="cursor-pointer" width="48" height="48"
            [src]="'https://tmssl.akamaized.net/images/wappen/normquad/'+player.clubId+'.png'" [routerLink]="['/club', player.clubId]">
        <div class="d-flex flex-column justify-content-center">
            <span class="player_detail_value cursor-pointer" [routerLink]="['/club', player.clubId]">{{player.clubName ?? this.languageService.selectedLanguage['club_unknown']}}</span>
            @if (player.contractExpirationDate){
            <span class="player_detail_label">{{ languageService.selectedLanguage['player_contract_expiration'] }} {{
                moment(player.contractExpirationDate).format('LL') }}</span>
            }
        </div>
    </div>
    <div class="separator my-2"></div>
    <div class="d-flex flex-wrap justify-content-evenly gap-5">
        <div class="d-flex flex-column align-items-center">
            <span class="player_detail_label">{{ languageService.selectedLanguage['player_nationality'] }}</span>
            <span class="player_detail_value">{{ player.countryName }}</span>
        </div>
        <div class="d-flex flex-column align-items-center">
            <span class="player_detail_label">{{ moment(player.dateOfBirth).format('ll').toUpperCase() }}</span>
            <span class="player_detail_value">{{ moment().diff(player.dateOfBirth, 'years') }} {{ languageService.selectedLanguage['player_years']
                }}</span>
        </div>
        <div class="d-flex flex-column align-items-center">
            <span class="player_detail_label">{{ languageService.selectedLanguage['player_height'] }}</span>
            <span class="player_detail_value">{{ player.height ? player.height + ' cm' : '/' }}</span>
        </div>
        <div class="d-flex flex-column align-items-center">
            <span class="player_detail_label">{{ languageService.selectedLanguage['player_foot'] }}</span>
            <span class="player_detail_value">{{ languageService.selectedLanguage['player_foot_' + player.foot] }}</span>
        </div>
        <div class="d-flex flex-column align-items-center">
            <span class="player_detail_label">{{ languageService.selectedLanguage['player_position'] }}</span>
            <span class="player_detail_value">{{ languageService.selectedLanguage['club_players_position_' + player.position] }}</span>
        </div>
        @if (player.subPosition && player.position != player.subPosition){
        <div class="d-flex flex-column align-items-center">
            <span class="player_detail_label">{{ languageService.selectedLanguage['player_sub_position'] }}</span>
            <span class="player_detail_value">{{ languageService.selectedLanguage['club_players_sub_position_' + player.subPosition] }}</span>
        </div>
        }
        <div class="d-flex flex-column align-items-center">
            <span class="player_detail_label">{{ languageService.selectedLanguage['player_market_value'] }}</span>
            <span class="player_detail_value">{{ player.marketValue ? nFormatter(player.marketValue) + ' €' : 'n/a' }}</span>
        </div>
    </div>
</div>

<div class="games-container p-3" (scrollBottom)="onScrollBottom()">
    <app-player-games></app-player-games>
</div>
}