.game-history-container {
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px 5px var(--shadow);
}

table td {
    color: var(--text-primary);
    background-color: var(--white);
    vertical-align: middle;
}

tr > td:not(:nth-child(2)) {
    text-align: center;
}

tbody td {
    border-bottom: none;
}

tbody tr:hover td {
    background-color: var(--white-shade);
}

tbody tr:hover :last-child {
    border-radius: 0px 8px 8px 0px;
}

tbody tr:hover :first-child {
    border-radius: 8px 0px 0px 8px;
}