<table class="table">
    <thead>
        <tr>
            <td>{{ languageService.selectedLanguage['competition_season_detail_position'] }}</td>
            <td>{{ languageService.selectedLanguage['competition_season_detail_team'] }}</td>
            <td>{{ languageService.selectedLanguage['competition_season_detail_games'] }}</td>
            <td>{{ languageService.selectedLanguage['competition_season_detail_wins'] }}</td>
            <td>{{ languageService.selectedLanguage['competition_season_detail_draws'] }}</td>
            <td>{{ languageService.selectedLanguage['competition_season_detail_loses'] }}</td>
            <td>{{ languageService.selectedLanguage['competition_season_detail_goals'] }}</td>
            <td>{{ languageService.selectedLanguage['competition_season_detail_lasts'] }}</td>
            <td>{{ languageService.selectedLanguage['competition_season_detail_points'] }}</td>
        </tr>
    </thead>
    <tbody>
        @for (clubStatistic of clubsStatistics; track clubStatistic; let index = $index){
        <tr>
            <td>{{ index + 1 }}</td>
            <td>
                <img width="32" height="32" [src]="'https://tmssl.akamaized.net/images/wappen/normquad/'+clubStatistic.club?.club_id+'.png'" [alt]="'Emblem '+clubStatistic.club?.name">
                {{ clubStatistic.club?.name }}
            </td>
            <td>{{ clubStatistic.games.length }}</td>
            <td>{{ clubStatistic.wins }}</td>
            <td>{{ clubStatistic.draws }}</td>
            <td>{{ clubStatistic.loses }}</td>
            <td>{{ clubStatistic.goalsScored }}:{{ clubStatistic.goalsConceded }}</td>
            <td></td>
            <td>{{ clubStatistic.points }}</td>
        </tr>
        }
    </tbody>
</table>