.main-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: var(--background);
    color: var(--text-primary);
}

.light-theme {
    --background: #fffef9;
    --primary: #59344F;
    --secondary: #726E60;
    --white: #efeee4;
    --white-shade: #d3d2c6;
    --text-primary: #2d2b25;
    --text-secondary: #555247;
    --win: #98B06F;
    --draw: #ababab;
    --lose: #b06f6f;
    --error: #b06f6f;
}

.dark-theme {
    --background: #2b2b2b;
    --primary: #393939;
    --secondary: #454545;
    --white: #1a1a1a;
    --white-shade: #3f3f3f;
    --text-primary: #b5b5b5;
    --text-secondary: #d9d9d9;
    --win: #98B06F;
    --draw: #ababab;
    --lose: #b06f6f;
    --error: #b06f6f;
}