.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--background);
  color: var(--text-primary);
}

.light-theme {
  --background: #fff9f3;
  --primary: #5c4b99;
  --secondary: #fffef9;
  --white: #fffdfa;
  --shadow: #d7d7d769;
  --white-shade: #efece9;
  --text-primary: #2d2b25;
  --text-secondary: #8e8b79;
  --text-white: #ffffff;
  --win: #98b06f;
  --draw: #ababab;
  --lose: #b06f6f;
  --error: #b06f6f;
  --goals: #98b06f;
  --assists: #6f99b0;
  --yellow-card: #e5e160;
  --red-card: #c54949;
}

.dark-theme {
  --background: #161616;
  --primary: #393939;
  --secondary: #454545;
  --white: #292929;
  --shadow: #31313159;
  --white-shade: #3f3f3f;
  --text-primary: #dddddd;
  --text-secondary: #737373;
  --text-white: #ffffff;
  --win: #98b06f;
  --draw: #ababab;
  --lose: #b06f6f;
  --error: #b06f6f;
  --goals: #98b06f;
  --assists: #6f99b0;
  --yellow-card: #e5e160;
  --red-card: #c54949;
}
