.competition-country-label {
    color: var(--text-secondary);
}

.game-container {
    margin-left: 48px;
    border-left: 1px solid var(--text-secondary);
    cursor: pointer;
}

.game-container:hover {
    background-color: var(--white-shade);
}

.game-group-container {
    overflow: hidden;
}

.expand-close {
    max-height: 0;
}

.btn-load-more {
    background-color: var(--primary);
    color: var(--white);
}