.competition-country-label {
    color: var(--text-secondary);
}

.game-container {
    cursor: pointer;
    color: var(--text-secondary);
    border-radius: 8px;
}

.separator {
    margin-left: 48px;
}

.game-container:hover {
    background-color: var(--white-shade);
}

.game-single-container {
    border-left: 1px solid var(--text-secondary);
}

.winner-label {
    color: var(--text-primary);
}

.game-group-container {
    overflow: hidden;
}

.expand-close {
    max-height: 0;
}

.btn-load-more {
    background-color: var(--primary);
    color: var(--white);
}

:host ::ng-deep .expand-icon>path {
    fill: var(--text-primary);
}