<nav class="navbar">
    <div class="container justify-content-between">
        <a class="navbar-brand">
            <img class="m-auto" width="96" height="96" src="assets/icons/monitoring.svg" alt="Logo">
        </a>
        <form class="d-flex search-form" role="search" (submit)="onSubmit()">
            <input class="form-control me-2" type="search" [placeholder]="languageService.selectedLanguage['navbar_search_placeholder']" aria-label="Search">
            <button class="d-flex btn" type="submit">
                <img src="assets/icons/search.svg" alt="Search button">
            </button>
        </form>
        <button class="d-flex btn">
            <img width="64" height="64" src="assets/icons/account_circle.svg" alt="Profile button">
        </button>
    </div>
</nav>