.navbar {
    background-color: var(--primary);
    color: var(--text-white);
}

.search-form {
    position: relative;
}

.search-form>button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.search-form>input {
    padding-left: 48px;
    background-color: var(--white-shade);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-secondary);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder, /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-secondary);
}

.lang-selected {
    font-weight: bold;
}

:host ::ng-deep .icon-account {
    width: 64px;
    height: 64px;
}

:host ::ng-deep .icon-account > circle, :host ::ng-deep .icon-account > path {
    stroke: var(--text-white);
}

:host ::ng-deep .icon-theme {
    width: 24px;
    height: 24px;
}

:host ::ng-deep .icon-theme > path {
    fill: var(--text-white);
}

:host ::ng-deep .search-icon > path {
    fill: var(--text-primary);
}