<nav class="navbar">
    <div class="container justify-content-between">
        <a class="navbar-brand" routerLink="">
            <img class="m-auto" width="96" height="96" src="assets/icons/monitoring.svg" alt="Logo">
        </a>
        <div class="d-flex search-form" role="search">
            <input class="form-control" type="search"
                [placeholder]="languageService.selectedLanguage['navbar_search_placeholder']" aria-label="Search"
                [formControl]="search" (keydown.enter)="onSearch()">
            <button class="d-flex btn" type="submit" (click)="onSearch()">
                <img src="assets/icons/search.svg" alt="Search button">
            </button>
        </div>
        <div class="d-flex align-items-center gap-2">
            @if (loggedUser){
            <span>{{ languageService.selectedLanguage['navbar_hello'] }} {{ loggedUser.username }}</span>
            }
            <button class="d-flex btn" [routerLink]="['/login']">
                <img width="64" height="64" src="assets/icons/account_circle.svg" alt="Profile button">
            </button>


            <span class="cursor-pointer" (click)="onLanguageChange('it')"
                [class.lang-selected]="languageService.activeLanguage == 'it'">IT</span> /
            <span class="cursor-pointer" (click)="onLanguageChange('en')"
                [class.lang-selected]="languageService.activeLanguage == 'en'">EN</span>
        </div>
    </div>
</nav>