.search-container {
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px 5px var(--shadow);
}

.title-label {
    font-weight: bold;
}

.search-value-container {
    border-radius: 8px;
}

.search-value-container:hover {
    background-color: var(--white-shade);
}